@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  user-select: none;
}

a,
a:visited {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #051a37;
  overflow: auto;
}

.App::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #051a37;
}

.App::-webkit-scrollbar {
  width: 10px;
  background-color: #051a37;}

.App::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffffff;
}

.Splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #051a37;
  
}

.splash-text {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 24rem;
  background-color: transparent;
  width: 100%;
  z-index: 99999;
}

.icon-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-logo svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
  margin-right: .5em;

}

.logo-title {
  color: #FFFFFF;
  pointer-events: none;
}

.nav__links {
  list-style: none;
  display: flex;

}

.nav__links li {
  padding: 0 0.5rem;
  cursor: pointer;
}

.nav__links li a,
.nav__links svg,
.nav__links li a:visited {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #ffffff;
}

.movies-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;  
  width: 100%;
  background: #051a37;
  padding: 1rem 24rem;
  flex-wrap: wrap;
  gap: 1.25rem 1.5rem;

  }



.movie-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 315px;
  width: 170px;
}


.movie-card{
  transition-duration: 0.5s;
	transition-property: transform;
}
.movie-card:hover{
  transform: scale(1.05);
  border-radius: 8px;
}

.card-image {
  width: 100%;
  height: 248px;
}

.card-image img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: 8px;
}


.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 67px;
  width: 100%;
  padding: 0 1rem;
  gap: 0.5rem 0;
  border-radius: 0 0 10px 10px;
}

.card-content h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 17ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ffffff;

}

.card-content span {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #E5E5E5;
}

.card-content span svg,
.card-content a,
.card-content a:visited {
  font-size: 10px;
  font-weight: 900;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  padding-right: 0.25rem;
  color: #E5E5E5;
}

.card-content a,
.card-content a:visited {
  padding: 0;
}

.card-content-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


#greeting {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 24rem;
  background-color: transparent;
  justify-content: space-between;
  width: 100%;
  gap: 0.25rem 0;
}

.greeting-title {

  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.greeting-subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #E5E5E5;
}

.dropdown-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1rem;
  height: 386px;
  width: 343px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 4rem;
  right: 23rem;
  background-color: #FFFFFF;
}


.dropdown-card ul {
  list-style: none;
  text-decoration: none;
}

.dropdown-card h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 1rem 1rem;
}

.dropdown-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1rem;
  gap: 1rem 0;
  width: 100%;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  cursor: pointer;
  height: 60px;
  width: 280px;
  background: #051A37;
  border-radius: 12px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
}

.dropdown-item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.dropdown-item-content h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 0.25rem;
  width: 220px;
}

.dropdown-item-content p {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #DDE3E8;
  padding: 0 0.25rem;
}

.movie-page {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}


.movie-page .nav__links .hidden-movie {
  display: none;
}


.back {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 24rem;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.25rem 0;
}

.back a{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 .25rem;
}

.back svg {
  color: #FFFFFF;
  font-weight: 700;
}

.back p{
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
  color: #FFFFFF;
}

.movie-container {
  display: flex;
  flex-direction:  row;
  align-items: flex-start;
  justify-content: center;
  margin: 8rem 0 0 0;
  padding: 2rem 24rem;
  width: 100%;
  height: 600px;
  background-color: transparent;
  opacity: 1;
  
}

.movie-poster{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 1rem 0;
}

.movie-poster img {
  width: 300px;
  border-radius: 12px;
  object-fit: cover;
}

.movie-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 2rem;
  color: #E5E5E5;
  gap: 1.25rem 0;
  height: 100%;
}

.movie-details p {
  max-width: 65ch;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.movie-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  width: 100%;
}

.add-favorite {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  cursor: pointer;
}

.add-favorite svg {
  color: #FFFFFF;
  cursor: pointer;
}

.add-favorite-mobile {
  display: none;
  
}

.movie-genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 1rem;
}


.genre-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 2px solid #ffffff;
  border-radius: 2rem;
  padding: 0 1rem;
}


@media only screen and (max-width: 767px){

  .movie-poster, .add-favorite{
    display: none;
  }

  #header, .back, .movie-container {
    padding: 2rem 2rem;
  }
  .movies-section,  #greeting {
    padding: 0.5rem 2rem;
  }
  
  .movies-section {
    gap: 0.5rem;
    justify-content: space-between;
  }
  .add-favorite-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
  }

  .greeting-title{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  .greeting-subtitle{
    font-size: .75rem;
  }

  .movie-details {
    padding: 1rem 0;
  }

  .movie-container{
    margin: 0;
    padding-top: 6em;
  }

  .genre-box {
    font-size: 0.75rem;
  }

  .movie-details p {
    max-width: 100%;
    font-size: 1rem;
  }

  .movie-title {
    font-size: 2rem;
  }

  .App{
    overflow-x: hidden;
  }
  
  .movie-card{
    width: 140px;
    height: auto;
  }
  
  .card-image {
    height: auto;
  }
  .card-image img {
    object-fit: contain;
  }


  .card-content h4 {
    max-width: 13ch;
  }

  .dropdown-card{
    top: 4.5rem;
    right: 1rem;
  }


}

@media only screen and (min-width: 768px) and (max-width: 1440px){
  
  .movie-poster, .add-favorite{
    display: none;
  }

  #header, .back, .movie-container {
    padding: 2rem 2rem;
  }
  .movies-section,  #greeting {
    padding: 0.5rem 2rem;
  }
  
  .movies-section {
    
  }
  .add-favorite-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
  }

  .greeting-title{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  .greeting-subtitle{
    font-size: .75rem;
  }

  .movie-details {
    padding: 1rem 0;
  }

  .movie-container{
    margin: 0;
    padding-top: 6em;
  }

  .genre-box {
    font-size: 0.75rem;
  }

  .movie-details p {
    max-width: 100%;
    font-size: 1rem;
  }

  .movie-title {
    font-size: 2rem;
  }

  .App{
    overflow-x: hidden;
  }
  
  .movie-card{
    height: auto;
  }
  
  .card-image {
    height: auto;
  }
  .card-image img {
    object-fit: contain;
  }
  
  .card-content{

  }

 
  .dropdown-card{
    top: 4.5rem;
    right: 1rem;
  }
}